.contentIndex{
  flex-direction: column;
  h2{
    @include text($mont, $headerHeader,12px);
    letter-spacing: 0.2px;
    text-decoration: none;
    font-weight: bold;
    margin: 7px 0px;
  }
  h3{
    @include text($mont, $headerBlack, 15px);
    letter-spacing: 0.2px;
    padding-bottom: 10px;
  }
  p{
    @include text($robo, $textBlack, 13px);
    letter-spacing: 0.2px;
    padding: 7px 0px;
    line-height: 21px;
  }
}
.topFlex{
  h5{
    padding-left: 74.25em;
    @include text($mont, $gradesHeader, 10px);
    font-weight: bold;
    letter-spacing: 0.2px;
  }
  h6{
    @include text($mont, $activeCourseNav, 10px);
    margin-left: 1.250em;
    font-weight: bold;
    letter-spacing: 0.2px;
  }
}
