@import "variables";
// Takes in font variable, color variable, font size
@mixin text($font, $color, $size){
  font-family: $font;
  color: $color;
  font-size: $size;
}

.dashContainer{
  display: flex;
  flex-direction: row;
}

.gradeContainer{
  height: 275px;
  width: 215px;
  background-color: white;
  margin: 0px 20px 20px 0px;
}

.academicStanding{
  width: 70%;
  h2{
    padding-bottom: 20px;
  }
  div{
    // display: inline-block;
    // margin: 0 15px 15px 0;
    h3{
      @include text($mont,$headerBlack, 12px);
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
      padding: 15px 0px 8px;
      width: 60%;
      line-height: 1.3;
    }
    p{
      @include text($mont,$headerBlack, 15px);
      text-align: center;
      width: 85%;
      margin: 0 auto;
    }
    h4{
      @include text($mont,$headerHeader, 40px);
      text-align: center;
      font-weight: bold;
    }
  }

}
/* This is dashboard side bar*/
.dashboardSideBar{
  width: 27%;

}
.duedate{
  padding-top: 45px;
  h3{
    @include text($mont,$blueHeader, 12px);
  }
  p{
    @include text($mont,$headerBlack, 15px);
    padding: 5px 0px 25px 0px;
  }
  h4{
    @include text($mont,$headerBlack, 12px);
    font-weight: bold;
    float: right;
  }
}
.viewcalendar{
    @include text($mont,$headerBlack, 12px);
    font-weight: bold;
    float: right;
}
/* this is grade book with percent height, weight and padding*/
.dashCircle1, .dashCircle2, .dashCircle3, .dashCircle4, .dashCircle5, .dashCircle6{
  height: 150px;
  width: 150px;
  padding: 35px 0px 20px 32px;
  position: relative;
}

.dashCircle1, .dashCircle3{
  padding-top: 23px;
}



.currentgrade{
  position: absolute;
  right: 20px;
  top: 60px;
}
.flexdash{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.textFix{
  top: 45px;
}
