//this whole page is jut for the flexing that we needed around the site.
.bigFlex{ //the smallflex and bigflex are for the to flex the header, content, and aside.
  display: flex;
  flex-direction: row;
  min-width: 60em;
  max-width: 100em;
  height: 48em;

  background-color: $whiteText;
  margin: 0 auto;

  border: 24px solid;
  border-image-source: linear-gradient(126deg, #2fcfba, #47a1ba);
  border-image-slice: 20;
  .smallFlex{//this is the flex for just the header and the content
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2.5%;

  }
}
.indexContentFlex{//this is for the content on the index page
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div{

  }
  div:nth-child(1){
    width: 40%;
  }
  div:nth-child(2){
}
  .padding{
    margin-right: 13.950em;
  }
}
.buttonFlex3{//this is for the buttons on the general education pages
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .buttonFlex2{ //this is becuase one of the buttons didnt want to work right so it was just pushed.
    padding-right: 100px;
  }
}
