// body{
//   display: flex;
//   flex-direction: row;
//   .headerBodyFlex{
//     display: flex;
//     flex-direction: column;
//     background-color: $whiteText;
//     width: 45em;
//   }
// }
.bigFlex{
  display: flex;
  flex-direction: row;
  // width: 64em;
  min-width: 60em;
  max-width: 100em;
  height: 48em;

  background-color: $whiteText;
  margin: 0 auto;

  border: 24px solid;
  border-image-source: linear-gradient(126deg, #2fcfba, #47a1ba);
  border-image-slice: 20;
  .smallFlex{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2.5%;

  }
}
