.gened{
  // height: 26.063em;
  background-color: #ffffff;
  padding:0px 30px;
  h4{
    @include text($mont, $headerBlack, 14px);
  }
  h5{
    @include text($mont, $genEdCourses, 15px);
  }
  form{
    padding: 15px;
    p{
      @include text($mont, $headerBlack, 15px);
      padding: 0px 0px 5px 10px;
    }
    h1{
      @include text($mont, $headerHeader, 12px);
      font-weight: bold;
      padding: 0px 0px 5px 10px;
    }
    .buttonGenEdFLex{
      display: flex;
      flex-direction: row;
      margin: 30px 0px 15px;
    }
    .genBar{
      border: $progressBarBackGround 1px solid;
      margin: 15px 0px;
      width: 90%;
    }
  }
}
