.blueBar{
  width: 100%;
  height: 2px;
  background-color: $bluish;
  margin: 20px 0px;
}
header{
  font-family: $mont;
  .topSection{  //we have the header split into two sections top and lower. we worked on the by themselves then flexed them together
    display: flex;
    flex-direction: column;
    div{
      display: flex;
      justify-content: space-between;
    }
    h5:nth-child(1){
      a{
        @include text($mont, $dateColor,12px);
        letter-spacing: 0.2px;
        text-decoration: none;
        //margin-top: 3px;
      }
    }
    h5:last-child{
      text-align: right;
      //margin-top: 3px;
      a{
        @include text($mont, $darkteal,12px);
        letter-spacing: 0.2px;
        text-decoration: none;
      }
    }
  }
  #date{//this is the date at the cery top of the screen
    /*replace with variable*/
    font-family: $mont;
    font-weight: bold;
    font-size: 10px;
    /*replace with variable*/
    color: $dateColor;
    text-align: right;
    padding-bottom: 8px;
  }
  .lowerSection{  //this is the lower section of the header being worked on
    h2{
      @include text($mont, $headerHeader, 12px);
      letter-spacing: 0.2px;
      margin: 7px 0px;
      font-weight: bold;
    }
    h3{
      @include text($mont, $headerBlack, 15px);
      letter-spacing: 0.2px;
    }
    .headerBasicFlex{ //this is the parts of the header of current semester, enrolled credit hours, and academic standing.
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 20px;
      letter-spacing: 0.2px;
      div{
        h4{
          letter-spacing: 0.2px;
          @include text($mont, $headerBlack, 15px);
        }
        h3{
          @include text ($mont, $headerSubHeader, 12px);
          font-weight: bold;
          margin-bottom: 7px;
        }
      }
      div:last-of-type{
        padding-right: 50px;
      }
    }
  }
}

.breadcrumbs{//this is the breadcrumbs up in the top let corner of each page.
  @include text($mont, $dateColor,12px);
  a,p{
    padding: 0 4px;
  }
  a{
    text-decoration: none;
  }
  .lastcrumb{
    color: $darkteal;
    font-weight: bold;
  }
}
