@import "variables";


// Takes in font variable, color variable, font size
@mixin text($font, $color, $size){
  font-family: $font;
  color: $color;
  font-size: $size;
}

.scheduleNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  h2, ul{
    flex-grow: 20;
  }
  ul{
    @include text($mont, $headerSubHeader, 10px);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 17px;
  }
  li{
    display: inline;
    padding-right: 20px;
  }
  span{
    padding-right: 20px;
  }
  a{
    text-decoration: none;
    color: $headerSubHeader;
  }
}

.schedule{
  padding-top: 10px;

  h3{
    @include text($mont, $headerSubHeader, 12px);
    font-weight: bold;
    padding: 7px 0;
  }
  h4{
    @include text($mont, $headerBlack, 15px);
    padding-bottom: 15px;
  }
}

.calendar{
  width: 90.5%;
  height: 375px;
  margin: 0 auto;
  background-color: $calendar;
  display: flex;
  flex-direction: row;

  .dayCol{
    width: 20%;
    height: 375px;
    border: 1px solid $whiteText;
  }

    // text for the day of the week
  .dayOfWeek{
    @include text($mont, $headerSubHeader, 10px);
    text-align: center;
    padding: 12px 0 17px 0;
  }
  .firstClass{
    height: 60px;
    background-color: $dateColor;

    p{
      @include text($mont, $whiteText, 10px);
      text-align: center;
      padding: 3px;
    }
    p:nth-child(1){
      font-size: 8px;
      padding-top: 15px;
    }
  }

  .csetClass{
    height: 177px;
    margin-top: 78px;
    background-color: $dateColor;

    p{
      @include text($mont, $whiteText, 10px);
      text-align: center;
      padding: 5px;
    }
    p:nth-child(1){
      font-size: 8px;
      padding-top: 60px;
    }
  }
  .csetClassShort{
    height: 162px;
    margin-top: 93px;
    background-color: $dateColor;

    p{
      @include text($mont, $whiteText, 10px);
      text-align: center;
      padding: 5px;
    }
    p:nth-child(1){
      font-size: 8px;
      padding-top: 45px;
    }
  }
  .csetClassFriday{
    margin-top: 138px;
  }
}
