@import "variables";

// Takes in font variable, color variable, font size
@mixin text($font, $color, $size){
  font-family: $font;
  color: $color;
  font-size: $size;
}

.upcomingHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div{
    padding-top: 10px;
  }
  h5, h6{
    display: inline;
    @include text($mont, $upcomingSemester, 10px);
    font-weight: bold;
    padding-left: 18px;
  }
  h6{
    color: $upcomingSemesterDate;
  }
}

.startBox{
  background-color: white;
  height: 220px;
  text-align: center;
  margin-top: 20px;

  h2{
    padding-top: 60px;
  }
  p:last-of-type{
    @include text($mont, $headerBlack, 15px);
  }
}

.startButton{
  height:46px;
  width: 116px;
  background-color: $button;
  margin: 0 auto;
  margin-top: 30px;

  p{
    color: $whiteText !important;
    font-weight: bold;
    text-align: center;
    padding-top: 16px;
  }
}

.genEdBox{
  background-color: white;
  margin-top: 20px;

  h4{
    @include text($mont, $headerBlack, 14px);
    padding-left: 2.5%;
    padding-bottom: 15px;
  }
}

.progressContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;

  h2{
    @include text($mont, $grades, 14px);
    font-weight: bold;
    padding-top: 25px;
  }
}

#progress{
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: $progressBarBackGround;
  border-radius: 50px;
}

#progressBar{
  height: 5px;
  width: 1%;
  background-color: $teal;
  border-radius: 50px;
}

.genEdCourses{
  div{
    margin: 0 auto;
    margin-top: 15px;
    width: 85%;
    border-bottom: 1px $progressBarBackGround solid;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div:last-of-type{
    border-bottom: none;
    padding-bottom: 30px;
  }
  h3, p{
    @include text($mont, $genEdCourses, 15px);
  }
  p{
    font-size: 30px;
  }
}
