//variales used for the google web Fonts
$mont: 'Montserrat', sans-serif;

//used primarily for the backgrounds
$grey: #d8d8d8;
$teal: #50e3c2;
$bluish: #6291a9;
$darkteal: #52a5af;

//Colors used for some of the text
$headerBlack: #202020;
$textBlack: #373737;
$whiteText: #f7f7f7;

$blueHeader: #59aac0;
$viewAs: #2fcfba;
$sidebarSelect: #0b2535;

//Some colors for the header
$headerHeader: #48a2ba;
$headerSubHeader: #2e0a3a;

$dateColor: #1b3c50;
$progressBarBackGround: #359ca1;

$button: #37beba;

$gradesHeader: #4ca2b9;
$grades: #33c7ba;

//Colors for the alert/pop ups
$border: #979797;
$popupButton: #3bb9ba;

$scrollbar: #38bfba;


// margins
$asideLeft: 10%;
$left: 4%;
$right: 5.5%;   //MAY NOT NEED

@mixin text($font, $color, $size){
  font-family: $font;
  color: $color;
  font-size: $size;
}
