@import "variables";
aside{                //this changes the font color of the aside to white and the font to mont
  padding-left: 20px;
  color: $whiteText;
  font-family: $mont;
  background-color: $dateColor;
  width: 220px; //23%
  height: 720px;
  img{
    border: $teal 2px solid;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: grey;
    margin-left: 25px;
    margin-top: 40px;
  }
  h1{
    padding: 10px 10px 27px 52px;
  }
  h2{
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    font-size: 11px;
  }
  ul{
    li{
      list-style: disc;
      list-style-position: inside;
      color: $dateColor;
      padding: 10px 0px 10px 0px;
    }
    a{
      color: $whiteText;
      text-decoration: none;      //sets so there are no lines under the link
    }
}
}
